<header class="header">
    <video class="header-video" autoplay muted loop playsinline>
        <source src="/video/tvsd2header5.mp4" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>

    <div class="header-left-group">
        <div class="logo" id="logoBtn">MarketDM</div>

        <button class="catalog-btn" id="catalogBtn">
            <img src="/images/catalog-icon1.png" alt="Каталог" class="catalog-icon">
            <span>Каталог</span>
        </button>

        <div class="address-picker" id="addressPicker">
            <span id="currentAddress">Адрес доставки</span>
        </div>

        <div class="search-box">
            <input type="text" id="searchInput" placeholder="Поиск на MarketDM">
            <div class="search-button" id="searchBtn">
                <img src="/images/search.png" alt="Поиск" class="search">
            </div>
        </div>
    </div>

    <div class="user-info" id="userInfo"></div>
</header>